
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');




body{
    background-color: khaki;
}





@media  only screen and (max-width: 750px)

header{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

li{
    font-family:'Long Cang', cursive;
    display: inline-flex;
    font-size: 25px;
    transition-property:all 0.3s;

}

li:hover{
    background-color: red;
    border: 1px solid black;
}





h2{
    font-family:'Long Cang', cursive;

}

h3{
    font-family:'Long Cang', cursive;

}

#box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    box-shadow: 5px 10px;
}

#box:hover{
background-color: coral;
width: 300px;
margin-bottom: auto;

}

#box1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    box-shadow: 5px 10px;
}

#box1:hover{
background-color: blueviolet;
width: 300px;
margin-bottom: auto;

}

#box2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    box-shadow: 5px 10px;
}

#box2:hover{
background-color: red;
width: 300px;
margin-inline-start: inherit;

}




